* , a, h5 {
    color: #aa4ea2 !important;
}

/* a, h5 {
    color: #aa4ea2;
} */


#enviarMensaje{
  
        background: -webkit-linear-gradient(to right, rgba(166,192,254,0.5), rgba(246,128,132,0.5));
        /* Otra propiedad background para navegadores que no usan el prefijo -webkit- */
        background: linear-gradient(to right, rgba(166,192,254,0.5), rgba(246,128,132,0.5));
      border: none;
      color: rgb(54, 54, 54);
}

nav img {
    max-height: 300px; 
}


/* Estilo general para el navbar */
.navbar img {
    height: 130px;
}
.btn-secondary {
    background-color: #ffffff; /* Fondo blanco por defecto */
    color: #6c757d; /* Color de texto estándar */
    border-color: #6c757d; /* Borde estándar */
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:focus-visible {
    background-color: #f0f0f0; /* Fondo gris claro en hover, active y focus */
    color: #6c757d; /* Mantén el color de texto */
    border-color: #6c757d; /* Mantén el borde */
}

.btn-secondary:active,
.btn-secondary.active {
    background-color: #e0e0e0; /* Fondo ligeramente más oscuro para active */
    color: #6c757d; /* Mantén el color de texto */
    border-color: #6c757d; /* Mantén el borde */
}


#about{
     background-color: #dee2e6;
}


.guide-section {
  text-align: center;
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px 0;
}

.guide-section h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.guide-section p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.guide-image {
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Botón de PayPal */
form input[type="image"] {
  border: none;
  width: 180px;
}

form input[type="image"]:hover {
  opacity: 0.9;
}
/* Estilos generales para la sección */
.guide-section {
  text-align: center;
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0;
}

.guide-section h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.guide-section p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.guide-image {
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Estilos para el botón de Mercado Pago */
.mercado-pago-button {
  display: inline-block;
  margin-top: 20px;
}

.mp-button {
  background-color: #00a680;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.mp-button:hover {
  background-color: #008d6e;
}
