* , a, h5 {
    color: #aa4ea2 !important;
}

/* a, h5 {
    color: #aa4ea2;
} */


#enviarMensaje{
  
        background: -webkit-linear-gradient(to right, rgba(166,192,254,0.5), rgba(246,128,132,0.5));
        /* Otra propiedad background para navegadores que no usan el prefijo -webkit- */
        background: linear-gradient(to right, rgba(166,192,254,0.5), rgba(246,128,132,0.5));
      border: none;
      color: rgb(54, 54, 54);
}

nav img {
    max-height: 70px; 
}

.card {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #fff;
}

.flip-card-back {
    background-color: #f1f1f1;
    transform: rotateY(180deg);
}

/* Asegurarse de que los textos no se solapen */
h2.display-4 {
    margin-bottom: 20px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-body {
    padding: 20px;
}

/* Estilo general para el navbar */
.navbar img {
    height: 50px;
}


.dropdown{
    background: #dbdada;
}
